{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'network/stare.ico' %}" rel="icon" />
    {% block script %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="aside-left">
                <ul>
                    <li class="nav-item">
                      <a href="#">Network</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="#"
                        ><strong>{{ user.username }}</strong></a
                      >
                    </li>
                    {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}" id="all-posts-link"
                        >All Posts</a
                      >
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                  </ul>
                  <div class="nav-user-block">
                    <img id="nav-user-img" src="{{ user.user_pic.image_url }}" alt="avatar" />
                  </div>
            </div>
        </div>
        <div class="main-content">
            {% block main %}

            {$ endblock %}
        </div>
        <div class="right-side">
            <div class="aside-right">
                <h2>Right</h2>
            </div>
        </div>
    </div>
</body>
</html>